@import "../../scss/colors.scss";
.commentDiv{
  //box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
  //border-top: 2px solid $Blue-green;
  //border-left: 6px solid $Blue-green;
  //border-radius: 10px;
  padding-inline: 10px;
  &__userInfo{
    display: flex;
    //border-top: 2px solid $Blue-green;
    align-items: center;
    padding-top: 10px;
    margin-top: 20px;
    gap: 10px;

  }
  &__userName{
    font-weight: bold;
    font-size: 18px;
    
    max-width: 900px;
  }
  &__date {
    font-size: 14px;
  }
  &__reply{
    font-weight: bolder;
    font-size: 14px;
    color: $Yellow-crayola;
  }
  &__text{
      max-width: 900px;
      text-align: justify;
      text-justify: auto;
     
      
  }

}

