@import "../../scss/colors.scss";
.commentDiv{
  padding-inline: 10px;
  &__userInfo{
    display: flex;
    align-items: center;
    padding-top: 10px;
    margin-top: 20px;
    gap: 10px;
  }
  &__userName{
    font-weight: bold;
    font-size: 18px;
    max-width: 900px;
  }
  &__date {
    font-size: 14px;
  }
  &__reply{
    font-weight: bolder;
    font-size: 14px;
    color: $Yellow-crayola;
  }
  &__text{
      max-width: 900px;
      text-align: justify;
      text-justify: auto;
  }

}

