@import "../../scss/colors.scss";

.commentDiv{
    border-left: 6px solid $Blue-green;
    h3{
        color: $Blue-green;
        font-weight: bold;
    }
    h4{
        border-top: 1px solid $Blue-green;
        max-width: 900px;
        padding-top: 10px;
    }
    margin-block: 20px;


}

