@import "../../scss/colors.scss";
@import '../../scss/mediaQueries.scss';

    .galleryContainer{
        margin: 20px;
        display: block;
        column-count: 1;
        column-width: 100%;
        padding: 0 12px;

        &__thumbnail {
            transition: all 350ms ease;
            cursor: pointer; 
            margin-bottom: 12px;
        }
        &__image {
            width: 100%;
        }
    }

    @include tablet{
        .galleryContainer {
            margin-inline: 50px;
            column-count: 2;
            column-width: 50%;
            
        }
    }
    @include desktop{
        .galleryContainer {
            margin-left: 200px;
            margin-right: 200px;
            column-count: 3;
            column-width: 33%;
        }
    }