@import "../../scss/colors.scss";
@import '../../scss/mediaQueries.scss';

.postContainer{
    margin-block-start: 32px;
    margin-inline: 24px;
    display: flex;
    flex-direction: column;
    &__header-title{
        margin-left: 0;
        text-transform: uppercase;
        font-weight: 700;
        color: $Blue-green;
        text-shadow: $Yellow-crayola 3px 3px 1px;
    }
    &__header-date{
        font-size: 20px;
        font-weight: bold;
    }
    &__postDiv{
        justify-content: center;
        max-width: 750px;

      
        &__postDescription{
            font-size: 16px;
            text-align: justify;
            text-justify: auto;
            &::first-letter{
                color: $Blue-green;
                margin-left: 20px;
                font-size: 30px;
                font-weight: 500;
            }
        }
       
        &__postImage{
            margin-bottom: 1rem;
            border-radius: 10px;
            width: 100%;
            height: auto;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
        }

        .videoDiv {
            margin-top: 10px;
            margin-bottom: 10px;
            padding-bottom:56.25%;
            height:0;
            position:relative;
            padding-top:30px;
            overflow:hidden;
        }
        .videoDiv > * {
            position:absolute;
            left:0;
            top:0;
            width:100%;
            height:100%;
        }
    }
    &__updateList{
        .card{
            max-height: 245px;
        }
    }
}

@include tablet{
    .postContainer{
        margin-inline: 32px;
        flex-direction: row;
        column-gap: 10px;
        &__updateList{
            .card-columns{
            column-count: 1;
            }
            .card{
                min-width: 250px;
            }
        }
    }
}

@include desktop{
    .postContainer{
        margin-inline: calc(50% - 600px);
        column-gap: 60px;
    }
}
