@import "../../scss/colors.scss";
@import "../../scss/mediaQueries.scss";

.counterbar {
  padding: 10px;
  background-color: $Yellow-crayola;
  display: grid;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0.2, 0.2);
  &__text {
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    padding: 5px;
    width: 100%;
    color: $Floral-white;
    > span {
      text-transform: uppercase;
      font-size: larger;
      text-shadow: $Blue-green 2px 0 2px;
    }
  }
}

@include tablet {
  .counterbar {
    display: flex;
    height: 100px;
    &__text {
      font-size: 25px;
      justify-content: center;
    }
  }
}
