@import "../../scss/colors.scss";
@import "../../scss/mediaQueries.scss";

.navBar {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  background: white;
  position: relative;
  font-size: 1.2rem;
  height: 60px;
  a {
    &:hover {
      color: $Dark-Orange;
      transition: all 0.3s ease;
      text-decoration: none;
    }
  }

  &__logo {
    justify-self: start;
    color: $Yellow-crayola;
    cursor: pointer;
    margin-left: 30px;
    text-decoration: none;
    font-weight: 600;
    font-size: 1.8rem;
    text-shadow: $Dark-Orange 1px 1px 1px;
  }

  &__icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 25%);
    color: $Dark-purple;
    cursor: pointer;
    font-size: 1.8rem;
  }

  &__settings {
    margin-left: 0;
    justify-content: center;
    display: row;
  }

  &__menu {
    width: 100%;
    position: absolute;
    list-style: none;
    text-decoration: none;
    margin-top: 15px;
    top: 45px;
    left: -100%;
    transition: all 0.5s ease;
    &__links {
      color: $Dark-purple;
      padding: 0.5rem 1rem;
    }
  }
}

@include tablet {
  .navBar {
    height: 70px;
    &__icon {
      display: none;
    }
    &__logo {
      width: 250px;
      font-size: 26px;
    }
    &__menu {
      position: relative;
      left: 0;
      top: 0;
      display: grid;
      grid-template-columns: repeat(6, auto);
      grid-gap: 20px;
      padding-left: 0;
      &__links {
        font-size: 18px;
        padding: 5px;
        justify-self: center;
      }
    }

    &__settings {
      display: flex;
    }
  }
}
